name: Github Actions 실행

on:
  push:
    branches:
      - main

jobs:
  My-Deploy-Job:
    runs-on: ubuntu-latest

    steps:
      - name: Hello World
        run: |
          echo "Hello World"
          echo "Good"